
.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
}
.container-fluid {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
      padding-left: 0px;
  }
.navbar .nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    color:#fff;
}


.navbar .nav > li > a:hover {
    color:#d6d6d6;
}
.navbar {
 	  font-family: Aclonica;
      padding-top: 0px;
      padding-bottom:0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 18px;
      letter-spacing: 2px;
      
  }

body {
 font-family: Aclonica;
 background: url(../img/fifabackground.jpg);
 background-color: #cccccc;
 background-repeat: repeat-y;
 background-size:cover;
 background-attachment: fixed;
 background-position: center;
 color: #eae2e2;
 
}
